/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable at-rule-no-unknown */

/* doiuse-disable css-cascade-layers */
@layer base {
  /* doiuse-enable css-cascade-layers */

  :root {
    /* stylelint-disable plugin/no-unsupported-browser-features */
    --color-background-bright: 255 255 255;
    --color-background-brighten: 229 231 235;
    --color-background-dark: 31 41 55;
    --color-background-darken: 55 65 81;
    --color-link-bright: 96 165 250;
    --color-link-dark: 37 99 235;
    --color-text-bright: 249 250 251;
    --color-text-dark: 17 24 39;
    --color-vio-primary-bg: 243 244 246;
    --color-vio-primary-text: 17 24 39;
    /* stylelint-enable plugin/no-unsupported-browser-features */
  }
}
