{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended-vue"
  ],
  "plugins": ["stylelint-no-unsupported-browser-features"],
  "rules": {
    "at-rule-prelude-no-invalid": [
      true,
      {
        "ignoreAtRules": ["apply"]
      }
    ],
    "plugin/no-unsupported-browser-features": true
  }
}
