name: CI

permissions: {}

on:
  pull_request:
  push:
    branches:
      - alpha
      - beta
      - main
      - master
      - renovate/**

jobs:
  ci-optimization:
    name: CI optimization
    uses: dargmuesli/github-actions/.github/workflows/ci-optimization.yml@fe4c07f0a11b8b6cfed7e157e33bcc21e275bdad # 4.0.8
    permissions:
      pull-requests: read
  release_semantic_dry:
    needs: ci-optimization
    if: contains(fromJSON('["beta", "alpha"]'), github.ref_name) || needs.ci-optimization.outputs.continue == 'true'
    name: Release (semantic, dry)
    uses: dargmuesli/github-actions/.github/workflows/release-semantic.yml@fe4c07f0a11b8b6cfed7e157e33bcc21e275bdad # 4.0.8
    permissions:
      contents: write
      id-token: write
    secrets:
      PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
    with:
      APT_PACKAGES: mkcert
      DRY_RUN: true
      INSTALL_NODE_DEPENDENCIES: true
  build:
    name: Build
    uses: dargmuesli/github-actions/.github/workflows/docker.yml@fe4c07f0a11b8b6cfed7e157e33bcc21e275bdad # 4.0.8
    needs: release_semantic_dry
    permissions:
      packages: write
    with:
      PUSH: false
      TAG: ${{ needs.release_semantic_dry.outputs.new_release_version }}
  release_semantic:
    needs: build
    name: Release (semantic)
    uses: dargmuesli/github-actions/.github/workflows/release-semantic.yml@fe4c07f0a11b8b6cfed7e157e33bcc21e275bdad # 4.0.8
    permissions:
      contents: write
      id-token: write
    secrets:
      PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
    with:
      APT_PACKAGES: mkcert
      INSTALL_NODE_DEPENDENCIES: true
